header {
    display: flex;
    align-items: center;
}


header nav {
    text-align: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family:var(--header-font);
    font-size: larger;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}