:root {
    --primary-color: #1C629C;
    --secondary-color:#867D7D;
    --accent1-color:#C8C2C4;
    --accent2-color:#D9C882;
    --header-font:'Sour Gummy', sans-serif;
    --text-font:'Edu Australia VIC WA NT Hand Precursive', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Top bar section */
header {
    display: grid;
    align-items: center;
    border-bottom: solid black;
}


header nav {
    text-align: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family:var(--header-font);
    font-size: larger;
    
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

/* main body of page */
main {
    width: 100%;
}

h1 {
    color: black;
    font-family: var(--header-font);
    font-size: 50px;
}

h2 {
    font-family: var(--header-font);
}

p {
    font-family: var(--text-font);
}

.about {
    background-color: var(--primary-color);
}

.about .hero {
    /* display: flex; */
    flex-direction: column;
    /*Delete following after new week 3 grade*/
    position: relative;

}

.about .hero h1 {
    background-color: var(--accent1-color);
    padding: 10px;
    border: solid black;
    position: absolute;
    text-align: center;

}

.about .hero nav img {
    width: 100%;
}

.about .hero .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-items: center;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 1px;
}

.purpose {
    width: 50%;
    height: 50%;
    margin: 10px;
    font-size: 30px;
}

.purpose-image {
    padding: 1rem;
    width: auto;
}

.history {
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    background-color: var(--accent2-color);
    height: auto;
    padding-top: 1rem;
    font-size: 30px;
    padding: 10px;
}

.adventure h2 {
    text-align: center;
}

.a-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.a-images img {
    width: 350px;
    padding: 0.5rem;
}

.a-images figcaption {
    font-family: var(--text-font);
    text-align: center;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1rem;
    list-style: none;
}

.sociallinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 

/* contact us page */
.contact_page {
    background-color: var(--primary-color);
}

.contact {
    display: grid;
    background-color: var(--primary-color);
}

.contact-info {
    /* display: grid; */
    /* justify-content: center; */
    margin-top: 10px;
    /* margin-bottom: 2rem; */
    /* padding-bottom: 5rem; */
}

.contact-info h1 {
    color: black;
    text-align: center;
    /* background-color: var(--accent2-color); */
}

.info {
    border: 1px solid black;
    /* letter-spacing: 1px; */
    justify-content: center;
    width: 70%;
    background-color: var(--accent1-color);
    margin: 0 auto;
}

.info th, .info td {
  border: 1px solid black;
  /* padding: 8px; */
  font-size: 30px;
}

.map {
    margin: 0 auto;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
.employees h1 {
    color: black;
    grid-column: 1/3;
    margin-bottom: 10px;
    
}

.empoloyee-image {
    font-style: var(--text-font);
    /* font-size: 20%; */
    /* margin: 2rem; */
}

.user-contact {
    /* margin: 2rem; */
    /* padding: 1rem; */
}
.user-contact form{
    width: 40%;
    /* border-radius: .5rem; */
    background-color: var(--accent1-color);
}

.user-contact fieldset {
    /* display: grid; */
    /* grid-gap: .5rem; */
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid rgb(0 0 0 / 0.2);
    /* padding: 1rem; */

}

.user-contact legend {
    font-weight: bold;
    /* padding-top: 1rem; */
    font-size: 20px;
}


.user-contact label {
    /* text-align: center; */
    /* padding-right: 1rem; */
    /* padding: .5rem; */
}

input, select, textarea {
    /* padding: .3rem; */
    font-size: large;
}


select[id="browser"]{
    /* max-width: 5rem; */
    
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: center;
}



button {
    text-align: center;
    margin: 1rem;
    border: none;
    color: black;
    border-radius: .5rem;
    padding: 10px;
}

button:hover {
    background-color: var(--primary-color);
}

/* index page */
.home {
    position: relative;
    background-color: var(--primary-color);
}
.home h1 {
    font-size: 500%;
    color: var(--accent2-color);
    text-align: right;
    position: absolute;
    width: 30%;
    top: 15%;
    right: 20%;
    
}

.home img {
    width: 100%;

    margin-top: 10px
}

.home h2 {
    display: flex;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0;
    justify-content: center;
}

.entice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 5%;
    
}

.join {
    grid-column: 1/7;
}

.entice p {
    font-size: 30px;
    text-align: center;
}

.entice-image {
    background-color: var(--accent2-color);
    border-radius: 10%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.entice-image img{
    border: solid var(--accent2-color) 10px;
    border-radius: 50%;
    width: 70%;
}

.entice-image figcaption {
    text-align: center;
    font-size: 30px;
    font-family: var(--text-font);
}

.discover {
    grid-column: 1/3;
}

.explore {
    grid-column: 3/5;
}

.experience {
    grid-column: 5/7;
}

.what-we-do {
    grid-column: 1/4;
    background-color: var(--accent2-color);
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

.offer {
    grid-column: 4/7;
    background-color: var(--accent2-color);
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

.news-letter {
    background-color: var(--accent1-color);
    width: 500px;
    margin: 0 auto;
    border: solid black;
    margin-top: 50px;
}

.news-letter legend {
    font-size: 30px;
    padding: 5px
}

.news-letter .form-item {
    padding: 5px;
}

.call-to-action {
    display: grid;
}

.call-to-action form {
    width: 10%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
}

.call-to-action input:hover {
    background-color: var(--accent2-color);
}

/* Trips page */

.trips {
    background-color: var(--primary-color);
}

.trip-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.trip-title{
    grid-column: 1/5;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.trip-options img {
    width: 50%;
}

.trip-image {
    border: solid black;
    background-color: var(--accent2-color);
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.trip-options figcaption {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 80px;
}

.family-retreat {
    grid-column: 1/3;
}

.team-building {
    grid-column: 3/5;
}

.weekend-getaway {
    grid-column: 1/3
}

.call-mom {
    grid-column: 3/5;
}

.hot-springs {
    grid-column: 2/4;
}

.trip-table {
    width: 90%;
    margin: 0 auto;
}

.trip-table h1 {
    font-style: italic;
}

.trip-heads {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

.trip-info {
    background-color: var(--accent1-color);
    border: solid black;
}

.trip-info th, .trip-info td {
    border: solid black;
}

.trip-body th {
    font-size: 30px;
    padding: 10px;
}

.trip-body td {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

.link-contact {
    font-size: 30px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.link-contact form {
    width: 10%;
    text-align: center;
    margin: 0 auto;
    border: none;
    color: black;
    border-radius: .5rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

.link-contact input:hover {
    background-color: var(--accent2-color);
}