nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
header {
    color: darkblue;
}
header a {
    display: inline-block;
    margin: auto;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main {
    text-align: center;
    margin: auto;
}
p {
    padding: 0px;
}
main {
    width: 500px;
}
aside {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 2px black;
    padding: 50px;
    background-color: darkkhaki;
    color: black;
}
main img {
    width: 200px;
    height: auto;
}

footer {
    Text-align: center;
    margin-top: 15px;
    border-top: 1px solid black;
}