header {
    background-color: rgba(139, 9, 0, 0.815);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: darkgrey;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
main {
    text-align: center;
    margin: auto;
    width: 500px;
}
p {
    padding: 0;
}

aside {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 2px black;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(190, 156, 4, 0.795);
    color: black;
}
main img {
    width: 200px;
    height: auto;
}

footer {
    Text-align: center;
    margin-top: 10px;
    border-top: 1px solid black;
    background-color: white;
}