:root {
    --text-font: Georgia (serif);
    --border: 1px solid black;
}

* {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(139, 9, 0, 0.815);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: var(--text-font);
}


nav {
    max-width: 100%;
    height: 20px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

body {
    background-color: grey;
}

main {
    text-align: left;
    margin: auto;
    height: auto;
    width: auto;
}

main p {
    padding: 3rem;
}

main img {
    float: right;
    width: 150px;
    margin: 1rem;
    box-shadow: 0 0 30px;
    border: var(--border);
    color: black;
}

aside {
    position: relative;
    width: 400px;
    height: auto;
    background-color: darkkhaki;
    color: black;
}

aside p {
    padding: 2rem;
}

aside h2 {
    position: absolute;
    top: 47px;
    right: 160px;
}

aside img {
    text-align: center;
    width: 200px;
    box-shadow: 0 0 30px gray;
}


footer {
    clear: both;
    Text-align: center;
    margin-top: 10px;
    border-top: var(--border);
    background-color: white;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    font-family: var(--text-font);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}